{% raw %}
<!doctype html>
<html>
<head>
  <!-- Ladataan bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- lisää templateja -->
  <link rel="stylesheet" href="/css/jumbotron-narrow.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-resource.min.js"></script>

  <title>Hello from Flask</title>
</head>


<body ng-app="pollApp">
  <script src="/js/page_controller.js"></script>
  <div class="container">
    <div class="jumbotron">
      <h1>Website poller</h1>
      <h3>by Olli Väinölä</h3>
    </div>


    <div ng-controller="ListController">
    <ul>
      <div ng-repeat="x in site_data">
        <h3 ng-style="set_color(x.status_code[1])">{{ x.name }}</h3>
         <p style="margin-left: 4em"><b>Connected</b>: {{ x.connected}} | 
        <b>Response time</b>: {{ x.response_time }} seconds |
        <b>Status</b>: {{ x.status_code[0] }}
        <div class="hr"/>
    </div>
    <p/>
    </ul>
    </div>
</body>

</html>
{% endraw %}
